.input-info {
    display: flex;
    align-items: bottom;
    flex-wrap: wrap;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: $bg-medium;

    .info {
        width: 20%;

        .number,
        .text {
            color: $text-light;
            font-size: 16px;
            text-align: center;
        }

        .number{
            
        }

        .text {

        }
    }
}