.input-info {
    display: flex;
    align-items: bottom;
    flex-wrap: wrap;
    width: 95%;
    max-width: 700px;
    border-radius: $border-radius-box;
    margin: 30px auto;
    padding: 20px 30px;
    border: 1px solid $line-light;
    background-color: $bg-medium;

    .info {
        width: 20%;

        .number,
        .text {
            color: $text-light;
            font-size: 16px;
            text-align: center;
        }
    }
}