$navbar-height: 60px;
$footer-height: 79px;

$font-text: monospace;

$bg-black: #000000;
$bg-dark: #0f0f0f;
$bg-medium: #272727;
$bg-light: #585858;

$text-dark: #1c2025;
$text-medium: #46525d;
$text-light: #E1E1E1;

$line-dark: #101214;
$line-medium: #2d353b;
$line-light: #a5a5a5;

$accent: #75A63C;

$border-radius-box: 10px;
