---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import TextInput from '../components/TextInput.astro';
---

<Layout title="Word Counter">
	<main>
		<TextInput></TextInput>
	</main>
</Layout>
