---
// Layout
import Layout from '@layouts/Layout.astro';

// Components
import InputInfo from '@components/InputInfo.astro';
import TextInput from '@components/TextInput.astro';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
---

<Layout title="Word Counter">
	<main class="app-layout theme--dark">
		<Navbar></Navbar>
		<div class="input-container container">
			<TextInput></TextInput>
			<InputInfo></InputInfo>
		</div>
		<Footer></Footer>
	</main>
</Layout>
