<div class="input-component">
    <div class="component-toolbar">
        
    </div>
    <textarea 
        id="word-input"
        class="component-input" 
        name="" 
    ></textarea>
</div>
