---
interface Props {
	title: string;
}
---

<div class="input-component">
    <div class="component-toolbar">
        
    </div>
    <textarea class="component-input" name="" id=""></textarea>
</div>
