---
// Components
import ToolbarInput from '@components/ToolbarInput.astro';
---

<div class="input-component">
    <ToolbarInput></ToolbarInput>
    <textarea 
        id="word-input"
        class="component-input" 
        name="" 
    ></textarea>
</div>
